<section class="page home-page">
  <header class="home-page__header">
    <h1>Stageverslag</h1>
    <strong>@Boerdam v.2</strong>
  </header>

  <p class="intro">
      Mijn vorige stage was een erg leuke en bovenal erg leerzame stage bij Boerdam. 
Die stage was voornamelijk voor mij een hoop ontdekken. In een team werken met verschillende disciplines was voor mij bijvoorbeeld nog helemaal nieuw. Net zoals de programma’s en de techniek waar ze mee werken was nieuw voor mij. Nu heb ik daar een hele stageperiode mee en aan gewerkt en ben ik overal aardig bekend mee geworden. Mijn doel voor deze stage is vooral om mijzelf inhoudelijk te kunnen ontwikkelen.
  </p>

  <dl class="home-page__details">
    <div>
      <dt>Stagebegeleider</dt>
      <dd>Christian Wijnia</dd>
    </div>
    <div>
      <dt>BPV leraar</dt>
      <dd>Frank de Kimpe</dd>
    </div>
    <div>
      <dt>Stageperiode</dt>
      <dd>
        <time>01-01-2017</time> - <time>01-01-2018</time>
      </dd>
    </div>
  </dl>

  <a class="button type--dark" routerLink="/content-page/2/Boerdam">Over Boerdam</a>
</section>