<header class="main-header" *ngIf="navActive">
  <app-main-nav 
    (hideNav)="hideNav($event)"
    (setBackground)="setBackground($event)"
    [getBackground]="bgColor"></app-main-nav>
</header>

<div class="main-nav__button" *ngIf="!navActive">
  <a class="button type--dark" (click)="showNav()">
    menu
  </a>
</div>

<div 
  class="background" 
  [class.nav--active]="navActive"
  [style.background-color]="bgColor">
  <div></div>
</div>

<main class="main-container">
  <router-outlet (activate)="loadBackground($event)"></router-outlet>
</main>
