<header class="main-header" *ngIf="navActive">
  <app-main-nav 
    (hideNav)="hideNav($event)"
    (setBackground)="setBackground($event)"
    [getBackground]="bgColor"></app-main-nav>
</header>

<div class="main-nav__button" *ngIf="!navActive" [class.fade--in]="!navActive">
  <a class="button type--dark" (click)="showNav()">
    <img class="icon" src="assets/icons/menu.svg" alt="menu">
    Menu
  </a>
</div>

<div 
  class="background" 
  [class.nav--active]="navActive"
  [style.background-color]="bgColor">
  <div></div>
</div>

<main class="main-container" [class.fade--in]="!navActive" [scrollTop]="scrollTop">
  <router-outlet (activate)="loadBackground($event)"></router-outlet>
</main>
